<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/head.html}"></div>
<div  xmlns:th="http://www.thymeleaf.org" th:replace="~{/navbar.html}"></div>

<div>profile</div>
<h3 xmlns:th="http://www.thymeleaf.org" th:text="${antre.name}">rvfds</h3>
<body>
<div xmlns:th="http://www.thymeleaf.org"  class="container">
    <div class="row gutters">
        <form th:action="@{/update_antre/{id}(id=${antre.id})}" method="post" th:object="${antre}">
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="mb-2 text-primary">Detalii antrenament</h6>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                    <label for="description" class="form-label">Descriere</label>
                                    <input name="descripiton" type="text" class="form-control" id="description"
                                           th:value="*{description}" th:field="*{description}"/>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" class="form-control" id="name"
                                           th:value="*{name}" th:field="*{name}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="text-end">
                                    <button type="submit" id="cancel" name="cancel" class="btn btn-secondary">Cancel</button>
                                    <button type="submit" id="update_antre" name="update_antre" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="mb-2 text-primary">Exercitiile din acest antrernament</h3>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nume</th>
                    <th scope="col">Descriere</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ex: ${exercitii}">
                    <td >
                        <a th:href="@{/exercitiu/{id}(id=*{id})}">
                            <span th:text="${ex.name}"></span>
                        </a>
                    </td>
                    <td th:text="${ex.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">

        </div>
    </div>
</div>
<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/footer.html:: footer}"></div>