<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/head.html}"></div>
<div  xmlns:th="http://www.thymeleaf.org" th:replace="~{/navbar.html}"></div>

<div>profile</div>
<h3 xmlns:th="http://www.thymeleaf.org" th:text="${team.name}">rvfds</h3>
<body>
<div xmlns:th="http://www.thymeleaf.org"  class="container">
  <div class="row gutters">
    <form th:action="@{/update_team/{id}(id=${team.id})}" method="post" th:object="${team}">
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card text-center">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h6 class="mb-2 text-primary">Detalii echipa</h6>
              </div>
              <div class="col-sm-6 col-12">
                <div class="mb-3">
                  <label for="description" class="form-label">Descriere</label>
                  <input name="descripiton" type="text" class="form-control" id="description"
                         th:value="*{description}" th:field="*{description}"/>
                </div>
              </div>
              <input type="hidden" th:field="*{antrenamente}"/>
              <div class="col-sm-6 col-12">
                <div class="mb-3">
                  <label for="name" class="form-label">Nume</label>
                  <input type="text" name="name" class="form-control" id="name"
                         th:value="*{name}" th:field="*{name}"/>
                </div>
              </div>
            </div>
            <div sec:authorize="!hasRole('ROLE_SPORTIV')" class="row">
              <div class="col-12">
                <div class="text-end">
                  <button type="submit" id="cancel" name="cancel" class="btn btn-secondary">Cancel</button>
                  <button type="submit" id="update_team" name="update_team" class="btn btn-primary">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
<!--adaugare antrenamente la echipa-->
    <div sec:authorize="!hasRole('ROLE_SPORTIV')" class="row">
      <h5>Adauga antrenamente in aceasta echipa</h5>
      <form th:action="@{/adauga_antre_in_echipa/{id}(id=${team.id})}" method="post">
<!--            th:object="${antre_de_adaugat}">-->
        <select id="antrenament" class="form-select mb-2" name="id_antrenament">
          <option selected>Selecteaza antrenamentul</option>
          <option th:each="antre: ${antrenamente_toate}" th:value="${antre.id}" th:text="${antre.name}"></option>
        </select>
        <button type="submit" id="adauga_antrenament_in_echipa" value="adauga_antrenament_in_echipa"
                class="btn float-end login_btn" name="adauga_antrenament_in_echipa">
          Adauga</button>
      </form>
    </div>
<!--    end adaugare antrenamente la echipa-->
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="mb-2 text-primary">Antrenamentele echipei</h3>
    </div>
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nume</th>
          <th scope="col">Descriere</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="antre: ${antrenamente}">
          <td >
            <a th:href="@{/antrenament/{id}(id=${antre.id})}">
              <span th:text="${antre.name}"></span>
            </a>
          </td>
          <td th:text="${antre.description}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">

    </div>
  </div>
</div>
<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/footer.html:: footer}"></div>